@import url('https://fonts.googleapis.com/css2?family=Chango&family=Dela+Gothic+One&family=New+Tegomin&family=Oswald:wght@200&family=Roboto:wght@700&display=swap');

body {
  text-align: center;
}

h1 {
  text-align: center;
  border: 5px dotted brown;
  color: brown;
  font-family: 'Dela Gothic One', cursive;
  font-size:90px;
  background-color: rgba(226, 173, 73, 0.747);
}

h2 {
  font-family: 'Dela Gothic One', cursive;
  margin: 70px;
  color:firebrick;
  text-align: left;
  font-size: 60px;
}

#s1,#s2 {
  font-size: 30px;
  color:firebrick;
}




#box {
  border: 0.5px solid black;
  width: 200px;
  height: 160px;
  margin: 20px auto;

}

body {
  background-color:lemonchiffon;
}

/*#chango {
  font-family: 'Chango', cursive;
}

#newtegomin {
  font-family: 'New Tegomin', serif;
}

#oswald {
  font-family: 'Oswald', sans-serif;
}*/

a {
  font-size: 60px;
}




footer {
  text-align: center;
  background-color:firebrick;
  color: white;
  margin: auto;
}